<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HP</key>
            <dict>
                <key>frame</key>
                <string>{{942,34},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>MP</key>
            <dict>
                <key>frame</key>
                <string>{{942,0},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{80,34}</string>
            </dict>
            <key>PNLVS_10</key>
            <dict>
                <key>frame</key>
                <string>{{940,68},{72,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,24}}</string>
                <key>sourceSize</key>
                <string>{72,24}</string>
            </dict>
            <key>arrow</key>
            <dict>
                <key>frame</key>
                <string>{{866,150},{100,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,62}}</string>
                <key>sourceSize</key>
                <string>{100,62}</string>
            </dict>
            <key>btn</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{161,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,77}}</string>
                <key>sourceSize</key>
                <string>{161,77}</string>
            </dict>
            <key>btnOK</key>
            <dict>
                <key>frame</key>
                <string>{{801,57},{139,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,93}}</string>
                <key>sourceSize</key>
                <string>{139,93}</string>
            </dict>
            <key>pnl</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,377}}</string>
                <key>sourceSize</key>
                <string>{640,377}</string>
            </dict>
            <key>shadow</key>
            <dict>
                <key>frame</key>
                <string>{{801,0},{141,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{141,57}}</string>
                <key>sourceSize</key>
                <string>{145,65}</string>
            </dict>
            <key>skill222_07</key>
            <dict>
                <key>frame</key>
                <string>{{640,77},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{113,114}</string>
            </dict>
            <key>skill222_09</key>
            <dict>
                <key>frame</key>
                <string>{{753,150},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>skill222_12</key>
            <dict>
                <key>frame</key>
                <string>{{640,191},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_item-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:658a9764cfef0542130c47382c08ff28$</string>
            <key>textureFileName</key>
            <string>battle_item-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
