<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HP</key>
            <dict>
                <key>frame</key>
                <string>{{638,0},{40,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>MP</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{40,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>PNLVS_10</key>
            <dict>
                <key>frame</key>
                <string>{{678,0},{36,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,12}}</string>
                <key>sourceSize</key>
                <string>{36,12}</string>
            </dict>
            <key>arrow</key>
            <dict>
                <key>frame</key>
                <string>{{458,47},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>btn</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{81,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,39}}</string>
                <key>sourceSize</key>
                <string>{81,39}</string>
            </dict>
            <key>btnOK</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{70,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,47}}</string>
                <key>sourceSize</key>
                <string>{70,47}</string>
            </dict>
            <key>pnl</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,189}}</string>
                <key>sourceSize</key>
                <string>{320,189}</string>
            </dict>
            <key>shadow</key>
            <dict>
                <key>frame</key>
                <string>{{401,0},{71,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{71,29}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>skill222_07</key>
            <dict>
                <key>frame</key>
                <string>{{320,39},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>skill222_09</key>
            <dict>
                <key>frame</key>
                <string>{{401,29},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>skill222_12</key>
            <dict>
                <key>frame</key>
                <string>{{542,0},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_item.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a56ba9260cacff70e77fb15632be995$</string>
            <key>textureFileName</key>
            <string>battle_item.pvr.ccz</string>
        </dict>
    </dict>
</plist>
