<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{93,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,0},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,0},{93,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{93,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{93,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,86},{93,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,86},{93,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,86},{93,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,86},{93,84}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{93,84}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{93,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,172},{93,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{93,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,172},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,172},{95,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,86}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d9256fd618541b0d3f8c8cde55bc859$</string>
            <key>textureFileName</key>
            <string>fight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
