<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id9</key>
	<array>
		<dict>
			<key>cateName</key>
			<string>西服面料</string>
			<key>cateId</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>cateName</key>
			<string>衬衫面料</string>
			<key>cateId</key>
			<integer>28</integer>
		</dict>
	</array>
	<key>id8</key>
	<array>
		<dict>
			<key>cateName</key>
			<string>西服劈门卡</string>
			<key>cateId</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>cateName</key>
			<string>衬衫劈门卡</string>
			<key>cateId</key>
			<integer>26</integer>
		</dict>
	</array>
	<key>id6</key>
	<array>
		<dict>
			<key>cateName</key>
			<string>西服</string>
			<key>cateId</key>
			<integer>22</integer>
		</dict>
		<dict>
			<key>cateName</key>
			<string>衬衫</string>
			<key>cateId</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>cateId</key>
			<integer>24</integer>
			<key>cateName</key>
			<string>女装</string>
		</dict>
	</array>
	<key>id5</key>
	<array>
		<dict>
			<key>cateId</key>
			<integer>21</integer>
			<key>cateName</key>
			<string>维修衣服照片</string>
		</dict>
	</array>
	<key>id4</key>
	<array>
		<dict>
			<key>cateId</key>
			<integer>16</integer>
			<key>cateName</key>
			<string>量身</string>
		</dict>
		<dict>
			<key>cateId</key>
			<integer>17</integer>
			<key>cateName</key>
			<string>试衣</string>
		</dict>
		<dict>
			<key>cateId</key>
			<integer>18</integer>
			<key>cateName</key>
			<string>成衣</string>
		</dict>
		<dict>
			<key>cateId</key>
			<integer>19</integer>
			<key>cateName</key>
			<string>参考图</string>
		</dict>
	</array>
	<key>id3</key>
	<array>
		<dict>
			<key>cateId</key>
			<integer>11</integer>
			<key>cateName</key>
			<string>量身</string>
		</dict>
		<dict>
			<key>cateName</key>
			<string>试衣</string>
			<key>cateId</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>cateName</key>
			<string>成衣</string>
			<key>cateId</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>cateName</key>
			<string>参考图</string>
			<key>cateId</key>
			<integer>14</integer>
		</dict>
	</array>
	<key>id2</key>
	<array>
		<dict>
			<key>cateId</key>
			<integer>7</integer>
			<key>cateName</key>
			<string>量身</string>
		</dict>
		<dict>
			<key>cateName</key>
			<string>试衣</string>
			<key>cateId</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>cateName</key>
			<string>成衣</string>
			<key>cateId</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>cateId</key>
			<integer>10</integer>
			<key>cateName</key>
			<string>参考图</string>
		</dict>
	</array>
	<key>id0</key>
	<array>
		<dict>
			<key>cateName</key>
			<string>TPO图库</string>
			<key>cateId</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>cateName</key>
			<string>拍照照片</string>
			<key>cateId</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cateName</key>
			<string>面料图库</string>
			<key>cateId</key>
			<string>9</string>
		</dict>
	</array>
	<key>id1</key>
	<array>
		<dict>
			<key>cateName</key>
			<string>西服照片</string>
			<key>cateId</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>cateId</key>
			<integer>3</integer>
			<key>cateName</key>
			<string>女装照片</string>
		</dict>
		<dict>
			<key>cateId</key>
			<integer>4</integer>
			<key>cateName</key>
			<string>衬衫照片</string>
		</dict>
		<dict>
			<key>cateName</key>
			<string>退赔照片</string>
			<key>cateId</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>cateId</key>
			<integer>5</integer>
			<key>cateName</key>
			<string>维修照片</string>
		</dict>
		<dict>
			<key>cateId</key>
			<integer>8</integer>
			<key>cateName</key>
			<string>劈门卡</string>
		</dict>
	</array>
</dict>
</plist>
